# Data Preprocesing

In [1]:
import pandas as pd
import numpy as np

dfs = []
for i in range(2017,2023):
    year_df = pd.read_csv(f"~/main/python/wqi-prediction/data/csv/{i}_lake_data.csv")
    year_df.insert(1,"Year",i)
    dfs.append(year_df)

df = pd.concat(dfs)
df

,STN Code,Year,Name of Monitoring Location,Type Water Body,State Name,Min Temperature,Max Temperature,Min Dissolved Oxygen,Max Dissolved Oxygen,Min pH,...,Min Conductivity,Max Conductivity,Min BOD,Max BOD,Min Nitrate N + Nitrite N,Max Nitrate N + Nitrite N,Min Fecal Coliform,Max Fecal Coliform,Min Total Coliform,Max Total Coliform
0,1790.0,2017,"PULICATE LAKE , NELLORE \nDIST.",LAKE,ANDHRA \nPRADESH,27.0,28.0,5.1,6.9,7.1,...,3270.0,156600.0,1.0,2.3,0.65,6.9,2.0,2.0,800.0,1600.0
1,2353.0,2017,"KONDACHARLA-AAVA LAKE, \nPARAWADA PHARMA CITY,...",LAKE,ANDHRA \nPRADESH,24.0,28.0,5.9,6.8,6.9,...,597.0,1034.0,1.3,2.3,1.16,3.36,11.0,29.0,350.0,2400.0
2,2205.0,2017,"MER BEEL AT MADHABPUR, \nASSAM",LAKE,ASSAM,20.0,27.0,2.2,7.2,5.7,...,50.0,128.0,1.0,16.2,0.1,1.7,300.0,2000.0,360.0,6400.0
3,2206.0,2017,"DALONI BEEL NEAR \nJOGIGHOPA, ASSAM",LAKE,ASSAM,22.0,36.0,5.1,6.0,6.6,...,54.0,153.0,0.9,2.8,0.1,1.4,300.0,1200.0,300.0,5300.0
4,1263.0,2017,ELANGABEEL SYSTEM POND \n(CONNECTED TO R. KOLA...,POND,ASSAM,22.0,34.0,0.7,4.6,6.8,...,263.0,972.0,4.5,14.7,0.8,5.7,1100.0,3500.0,730.0,21000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,2544.0,2022,SAHEBBANDH AT \nPURULIA,LAKE,WEST \nBENGAL,20,36,9.0,10.2,7.0,...,240,326,2.8,4.3,0.30,1.06,1100,4700,2100,11000
644,2522.0,2022,SINCHAL LAKE FOR \nDARJEELING,LAKE,WEST \nBENGAL,2,18,7.2,8.8,6.9,...,13,50,1.0,1.8,0.30,1.13,2,230,40,1600
645,5163.0,2022,"SUBHAS SAROBAR, \nBELAGHATA, KOLKATA",LAKE,WEST \nBENGAL,22,32,6.7,8.0,7.2,...,349,426,3.0,4.5,0.30,1.36,700,2300,1300,3500
646,2521.0,2022,"WATER RESERVIOR AT \nDELO LAKE, DARJELLING",LAKE,WEST \nBENGAL,8,26,7.0,8.5,7.0,...,16,38,1.0,1.2,0.30,1.17,70,3300,140,11000
647,4725.0,2022,WATER RESERVIOR ST. \nHELENS SCHOOL,LAKE,WEST \nBENGAL,4,23,6.3,8.2,6.3,...,18,95,1.0,2.6,0.30,1.19,60,5000,110,11000

In [2]:
#using only data of lakes
df = df[df["Type Water Body"]=="LAKE"]

#drop rows containing blank values
df = df.dropna()

#some entries in the pdf have - to represent a blank value so we must remove those as well
bad_vals = df.apply(lambda x:x=="-").any(axis=1)
bad_idx = bad_vals.index[bad_vals]
df = df.drop(bad_idx)

#replace below detection level with 0
df = df.replace("BDL",0)

df.reset_index(inplace=True,drop=True)
df

,STN Code,Year,Name of Monitoring Location,Type Water Body,State Name,Min Temperature,Max Temperature,Min Dissolved Oxygen,Max Dissolved Oxygen,Min pH,...,Min Conductivity,Max Conductivity,Min BOD,Max BOD,Min Nitrate N + Nitrite N,Max Nitrate N + Nitrite N,Min Fecal Coliform,Max Fecal Coliform,Min Total Coliform,Max Total Coliform
0,1790.0,2017,"PULICATE LAKE , NELLORE \nDIST.",LAKE,ANDHRA \nPRADESH,27.0,28.0,5.1,6.9,7.1,...,3270.0,156600.0,1.0,2.3,0.65,6.9,2.0,2.0,800.0,1600.0
1,2353.0,2017,"KONDACHARLA-AAVA LAKE, \nPARAWADA PHARMA CITY,...",LAKE,ANDHRA \nPRADESH,24.0,28.0,5.9,6.8,6.9,...,597.0,1034.0,1.3,2.3,1.16,3.36,11.0,29.0,350.0,2400.0
2,2205.0,2017,"MER BEEL AT MADHABPUR, \nASSAM",LAKE,ASSAM,20.0,27.0,2.2,7.2,5.7,...,50.0,128.0,1.0,16.2,0.1,1.7,300.0,2000.0,360.0,6400.0
3,2206.0,2017,"DALONI BEEL NEAR \nJOGIGHOPA, ASSAM",LAKE,ASSAM,22.0,36.0,5.1,6.0,6.6,...,54.0,153.0,0.9,2.8,0.1,1.4,300.0,1200.0,300.0,5300.0
4,2557.0,2017,"KAWAR LAKE, BEGUSARAI, \nBIHAR",LAKE,BIHAR,19.0,32.0,5.4,8.0,7.2,...,222.0,325.0,2.1,2.8,0.0,0.0,7000.0,26000.0,15000.0,38000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1389,2544.0,2022,SAHEBBANDH AT \nPURULIA,LAKE,WEST \nBENGAL,20,36,9.0,10.2,7.0,...,240,326,2.8,4.3,0.30,1.06,1100,4700,2100,11000
1390,2522.0,2022,SINCHAL LAKE FOR \nDARJEELING,LAKE,WEST \nBENGAL,2,18,7.2,8.8,6.9,...,13,50,1.0,1.8,0.30,1.13,2,230,40,1600
1391,5163.0,2022,"SUBHAS SAROBAR, \nBELAGHATA, KOLKATA",LAKE,WEST \nBENGAL,22,32,6.7,8.0,7.2,...,349,426,3.0,4.5,0.30,1.36,700,2300,1300,3500
1392,2521.0,2022,"WATER RESERVIOR AT \nDELO LAKE, DARJELLING",LAKE,WEST \nBENGAL,8,26,7.0,8.5,7.0,...,16,38,1.0,1.2,0.30,1.17,70,3300,140,11000
1393,4725.0,2022,WATER RESERVIOR ST. \nHELENS SCHOOL,LAKE,WEST \nBENGAL,4,23,6.3,8.2,6.3,...,18,95,1.0,2.6,0.30,1.19,60,5000,110,11000

In [3]:
#Required Columns
L = [
  "Min Temperature","Max Temperature","Min Dissolved Oxygen","Max Dissolved Oxygen",
  "Min pH","Max pH","Min Conductivity","Max Conductivity","Min BOD","Max BOD",
  "Min Nitrate N + Nitrite N","Max Nitrate N + Nitrite N","Min Fecal Coliform",
  "Max Fecal Coliform","Min Total Coliform","Max Total Coliform"
]
df[L] = df[L].apply(pd.to_numeric)

#dropping redundant columns
df = df.drop(columns=["Name of Monitoring Location","Type Water Body"])
df = df.astype({"STN Code":int})
df

,STN Code,Year,State Name,Min Temperature,Max Temperature,Min Dissolved Oxygen,Max Dissolved Oxygen,Min pH,Max pH,Min Conductivity,Max Conductivity,Min BOD,Max BOD,Min Nitrate N + Nitrite N,Max Nitrate N + Nitrite N,Min Fecal Coliform,Max Fecal Coliform,Min Total Coliform,Max Total Coliform
0,1790,2017,ANDHRA \nPRADESH,27.0,28.0,5.1,6.9,7.1,8.5,3270.0,156600.0,1.0,2.3,0.65,6.90,2.0,2.0,800.0,1600.0
1,2353,2017,ANDHRA \nPRADESH,24.0,28.0,5.9,6.8,6.9,8.4,597.0,1034.0,1.3,2.3,1.16,3.36,11.0,29.0,350.0,2400.0
2,2205,2017,ASSAM,20.0,27.0,2.2,7.2,5.7,7.0,50.0,128.0,1.0,16.2,0.10,1.70,300.0,2000.0,360.0,6400.0
3,2206,2017,ASSAM,22.0,36.0,5.1,6.0,6.6,7.8,54.0,153.0,0.9,2.8,0.10,1.40,300.0,1200.0,300.0,5300.0
4,2557,2017,BIHAR,19.0,32.0,5.4,8.0,7.2,7.9,222.0,325.0,2.1,2.8,0.00,0.00,7000.0,26000.0,15000.0,38000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1389,2544,2022,WEST \nBENGAL,20.0,36.0,9.0,10.2,7.0,7.8,240.0,326.0,2.8,4.3,0.30,1.06,1100.0,4700.0,2100.0,11000.0
1390,2522,2022,WEST \nBENGAL,2.0,18.0,7.2,8.8,6.9,7.9,13.0,50.0,1.0,1.8,0.30,1.13,2.0,230.0,40.0,1600.0
1391,5163,2022,WEST \nBENGAL,22.0,32.0,6.7,8.0,7.2,8.3,349.0,426.0,3.0,4.5,0.30,1.36,700.0,2300.0,1300.0,3500.0
1392,2521,2022,WEST \nBENGAL,8.0,26.0,7.0,8.5,7.0,7.7,16.0,38.0,1.0,1.2,0.30,1.17,70.0,3300.0,140.0,11000.0
1393,4725,2022,WEST \nBENGAL,4.0,23.0,6.3,8.2,6.3,8.2,18.0,95.0,1.0,2.6,0.30,1.19,60.0,5000.0,110.0,11000.0

In [4]:
stv = np.array([5,8.5,2250,3,45,200,1000])
K = 1/np.sum(stv)
w = [K/x for x in stv]
w_n = np.array([x/sum(w) for x in w])
idv = np.array([14.6,7,0,0,0,0,0])
diff = stv-idv

def calculate_wqi(row):
    q = 100*(row - idv)/diff
    return np.dot(q,w_n)

example_row = np.array([6.8,7.8,1179,4.6,3.56,23,240])
calculate_wqi(example_row)

108.75676031175138

In [5]:
def avg(col1,col2):
    return (col1.to_numpy() + col2.to_numpy())/2

pd.set_option('mode.chained_assignment',None)

df_a = pd.DataFrame()
df_a["Dissolved Oxygen"] = avg(df["Min Dissolved Oxygen"],df["Max Dissolved Oxygen"])
df_a["pH"] = avg(df["Min pH"],df["Max pH"])
df_a["Conductivity"] = avg(df["Min Conductivity"],df["Max Conductivity"])
df_a["BOD"] = avg(df["Min BOD"],df["Max BOD"])
df_a["Nitrate N + Nitrite N"] = avg(df["Min Nitrate N + Nitrite N"],df["Max Nitrate N + Nitrite N"])
df_a["Fecal Coliform"] = avg(df["Min Fecal Coliform"],df["Max Fecal Coliform"])
df_a["Total Coliform"] = avg(df["Min Total Coliform"],df["Max Total Coliform"])
df_a.rename(columns={
    'Dissolved Oxygen':'DO',
    'Conductivity':'EC',
    'Nitrate N + Nitrite N':'NN',
    'Fecal Coliform':'FC',
    'Total Coliform':'TC'
},inplace=True)
df_a

        DO    pH       EC   BOD     NN       FC       TC
0     6.00  7.80  79935.0  1.65  3.775      2.0   1200.0
1     6.35  7.65    815.5  1.80  2.260     20.0   1375.0
2     4.70  6.35     89.0  8.60  0.900   1150.0   3380.0
3     5.55  7.20    103.5  1.85  0.750    750.0   2800.0
4     6.70  7.55    273.5  2.45  0.000  16500.0  26500.0
...    ...   ...      ...   ...    ...      ...      ...
1389  9.60  7.40    283.0  3.55  0.680   2900.0   6550.0
1390  8.00  7.40     31.5  1.40  0.715    116.0    820.0
1391  7.35  7.75    387.5  3.75  0.830   1500.0   2400.0
1392  7.75  7.35     27.0  1.10  0.735   1685.0   5570.0
1393  7.25  7.25     56.5  1.80  0.745   2530.0   5555.0

[1394 rows x 7 columns]

In [6]:
wqi = df_a.apply(calculate_wqi,axis=1)
df_a["WQI"] = wqi
df_a = df_a[df_a["WQI"]>=0]
df_a.dropna()
df_a.insert(0,"STN Code",df["STN Code"])
df_a.insert(1,"Year",df["Year"])
df_a

,STN Code,Year,DO,pH,EC,BOD,NN,FC,TC,WQI
0,1790,2017,6.00,7.80,79935.0,1.65,3.775,2.0,1200.0,65.349937
1,2353,2017,6.35,7.65,815.5,1.80,2.260,20.0,1375.0,62.680699
2,2205,2017,4.70,6.35,89.0,8.60,0.900,1150.0,3380.0,168.236907
3,2206,2017,5.55,7.20,103.5,1.85,0.750,750.0,2800.0,63.521839
4,2557,2017,6.70,7.55,273.5,2.45,0.000,16500.0,26500.0,135.216775
...,...,...,...,...,...,...,...,...,...,...
1389,2544,2022,9.60,7.40,283.0,3.55,0.680,2900.0,6550.0,89.667917
1390,2522,2022,8.00,7.40,31.5,1.40,0.715,116.0,820.0,48.335001
1391,5163,2022,7.35,7.75,387.5,3.75,0.830,1500.0,2400.0,98.127149
1392,2521,2022,7.75,7.35,27.0,1.10,0.735,1685.0,5570.0,50.091416
1393,4725,2022,7.25,7.25,56.5,1.80,0.745,2530.0,5555.0,65.021528

In [7]:
from statsmodels.stats.stattools import medcouple

MC = float(medcouple(df_a["WQI"]))
q1,q3 = np.percentile(df_a["WQI"],[25,75],method='lower')
iqr = q3 - q1
upper_fence = q3 + (1.5*iqr*np.exp(3*MC))
df_a = df_a[df_a["WQI"]<upper_fence]
df_a

,STN Code,Year,DO,pH,EC,BOD,NN,FC,TC,WQI
0,1790,2017,6.00,7.80,79935.0,1.65,3.775,2.0,1200.0,65.349937
1,2353,2017,6.35,7.65,815.5,1.80,2.260,20.0,1375.0,62.680699
2,2205,2017,4.70,6.35,89.0,8.60,0.900,1150.0,3380.0,168.236907
3,2206,2017,5.55,7.20,103.5,1.85,0.750,750.0,2800.0,63.521839
4,2557,2017,6.70,7.55,273.5,2.45,0.000,16500.0,26500.0,135.216775
...,...,...,...,...,...,...,...,...,...,...
1389,2544,2022,9.60,7.40,283.0,3.55,0.680,2900.0,6550.0,89.667917
1390,2522,2022,8.00,7.40,31.5,1.40,0.715,116.0,820.0,48.335001
1391,5163,2022,7.35,7.75,387.5,3.75,0.830,1500.0,2400.0,98.127149
1392,2521,2022,7.75,7.35,27.0,1.10,0.735,1685.0,5570.0,50.091416
1393,4725,2022,7.25,7.25,56.5,1.80,0.745,2530.0,5555.0,65.021528

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler

seed = 42
ncols = ["DO","pH","EC","BOD","NN","FC","TC"]
X,y = df_a[ncols],df_a["WQI"]
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=seed)

s = RobustScaler()
X_train_ = s.fit_transform(X_train)
X_test_ = s.transform(X_test)

sdf = pd.DataFrame(X_train_,columns=ncols)
sdf["WQI"] = pd.Series(y_train).values

sdf

,DO,pH,EC,BOD,NN,FC,TC,WQI
0,-1.076923e-01,-0.153846,6.208972,-0.105590,-0.352941,0.155622,0.032469,83.573498
1,-3.384615e-01,-0.692308,0.244747,1.888199,0.140056,4.605416,15.667338,386.865203
2,-1.076923e+00,0.769231,0.562181,0.770186,0.882353,-0.051221,-0.013108,214.186777
3,-4.769231e-01,-0.230769,4.971607,0.031056,-0.443978,0.267581,0.118141,105.412031
4,7.384615e-01,0.615385,-0.386144,-0.242236,-0.112045,0.563711,0.297880,65.733860
...,...,...,...,...,...,...,...,...
1067,-2.769231e-01,-0.230769,-0.042589,0.459627,0.644258,2.329858,13.911073,185.370751
1068,1.230769e-01,0.307692,0.268597,0.099379,-0.201681,0.060458,-0.012679,110.934424
1069,-8.923077e-01,0.307692,0.191936,0.739130,1.120448,-0.053740,-0.029385,204.820249
1070,-2.732857e-16,0.461538,-0.191936,-0.229814,-0.417367,-0.067735,-0.092611,69.012692
1071,7.692308e-02,0.923077,0.147076,0.080745,0.120448,0.625289,0.974684,118.197774

In [9]:
selected_features = [0,3,5] # DO,BOD,FC
del_ft = [1,2,4,6]
X_train_ = np.delete(X_train_,del_ft,axis=1)
X_test_ = np.delete(X_test_,del_ft,axis=1)
print(X_train_.shape)

(1072, 3)

In [10]:
def classify(y):
    y_c = np.zeros_like(y,dtype=int)
    for i in range(len(y)):
        if y[i] < 50:
            y_c[i] = 0
        elif y[i] < 100:
            y_c[i] = 1
        elif y[i] < 200:
            y_c[i] = 2
        elif y[i] < 300:
            y_c[i] = 3
        else:
            y_c[i] = 4
    return y_c

y_c = classify(y_test.to_numpy())
y_c_train = classify(y_train.to_numpy())

print(len(y_c_train))

1072

# Combining Models

To improve accuracy of the models, we can try to combine models using voting strategies. The three best individual models tested so far are the Support Vector Regression Model, the Feedforward Neural Network and the Linear Regression Model. We can combine them using certain voting strategies. 

1. Average - Taking the arithmetic mean of the predictions of the three models and rounds off to the nearest whole number
2. Majority - Considers majority prediction of the three models. If no majority exists, we revert back to averaging the predictions.
3. Stacking - Using a model (meta-model) to combine the predictions of the three models into a new one

In [11]:
# retrieving the models
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV


reg = LinearRegression().fit(X_train_,y_train)
params = {'C':range(100,1500,100),'epsilon':np.linspace(0.05,0.25,10)}
clf = GridSearchCV(SVR(),params,n_jobs=5)
clf.fit(X_train_,y_train)
reg2 = clf.best_estimator_

print(reg2)

SVR(C=1400, epsilon=0.16111111111111112)

In [12]:
import torch
from torch.utils.data import DataLoader,TensorDataset

def mask(class_arr):
    m = np.zeros((len(class_arr),5),dtype=int)
    for i,v in enumerate(class_arr):
        m[i,v] = 1
    return m

#converting all dataframes to pytorch tensors
X_train_tensor = torch.Tensor(X_train_)
train_target = torch.Tensor(mask(y_c_train))
X_test_tensor = torch.Tensor(X_test_)
test_target = torch.Tensor(mask(y_c))

#grouping training and test data
training_data = TensorDataset(X_train_tensor,train_target)
test_data = TensorDataset(X_test_tensor,test_target)

params = {'batch_size': 16,
          'shuffle': True}
train_loader = DataLoader(training_data,**params)
test_loader = DataLoader(test_data,**params)

In [13]:
from torch import nn

model = nn.Sequential(
    nn.Linear(3,8),
    nn.ELU(),
    nn.Linear(8,8),
    nn.ELU(),
    nn.Linear(8,8),
    nn.ELU(),
    nn.Linear(8,5),
    nn.Softmax(dim=1)
)
model.load_state_dict(torch.load("/home/pc/main/python/wqi-prediction/fcnn_state.pth"))
print(model)

Sequential(
  (0): Linear(in_features=3, out_features=8, bias=True)
  (1): ELU(alpha=1.0)
  (2): Linear(in_features=8, out_features=8, bias=True)
  (3): ELU(alpha=1.0)
  (4): Linear(in_features=8, out_features=8, bias=True)
  (5): ELU(alpha=1.0)
  (6): Linear(in_features=8, out_features=5, bias=True)
  (7): Softmax(dim=1)
)

In [14]:
yhat1 = classify(reg.predict(X_test_))
yhat2 = classify(reg2.predict(X_test_))
yhat3 = model(X_test_tensor).argmax(1).detach().cpu().numpy()

av = (yhat1+yhat2+yhat3)/3
av = av.round()
print(av)

[1. 1. 0. 1. 1. 2. 1. 2. 1. 0. 4. 1. 2. 1. 1. 3. 1. 1. 0. 2. 4. 4. 1. 1.
 3. 1. 3. 1. 1. 1. 4. 2. 3. 4. 1. 3. 1. 1. 2. 3. 0. 1. 0. 4. 4. 1. 1. 2.
 1. 4. 2. 1. 1. 2. 2. 1. 1. 1. 4. 0. 2. 3. 4. 4. 1. 1. 3. 1. 1. 1. 1. 2.
 3. 4. 2. 2. 4. 4. 1. 2. 4. 1. 1. 3. 3. 4. 4. 1. 1. 0. 4. 2. 4. 1. 2. 1.
 1. 1. 1. 2. 1. 1. 4. 0. 1. 4. 1. 2. 3. 1. 2. 2. 1. 0. 2. 2. 4. 1. 2. 4.
 3. 4. 4. 1. 1. 1. 3. 0. 2. 0. 1. 4. 1. 2. 1. 4. 4. 1. 0. 2. 1. 2. 1. 1.
 0. 1. 3. 2. 1. 4. 2. 1. 4. 2. 4. 1. 4. 1. 1. 1. 1. 0. 1. 1. 4. 3. 1. 2.
 4. 2. 4. 2. 1. 1. 1. 2. 1. 1. 1. 0. 3. 1. 0. 1. 1. 2. 3. 1. 2. 3. 4. 3.
 2. 4. 1. 1. 1. 3. 0. 1. 1. 2. 3. 4. 4. 1. 3. 2. 2. 1. 0. 3. 1. 0. 1. 4.
 0. 1. 0. 1. 2. 0. 2. 4. 4. 1. 1. 1. 1. 3. 1. 1. 1. 1. 4. 1. 1. 1. 4. 2.
 3. 1. 3. 1. 1. 1. 4. 2. 1. 1. 1. 1. 3. 1. 0. 1. 0. 2. 1. 2. 1. 1. 4. 1.
 4. 4. 4. 3.]

In [15]:
maj = [0]*len(y_c)
for i in range(len(y_c)):
    if yhat1[i] == yhat2[i] or yhat1[i] == yhat3[i]:
        maj[i] = yhat1[i]
    elif yhat2[i] == yhat3[i]:
        maj[i] = yhat2[i]
    else:
        maj[i] = (yhat1[i]+yhat2[i]+yhat3[i])/3

maj = np.array(maj).round()
print(maj)

[1 1 0 1 1 2 1 2 1 0 4 1 2 1 1 3 1 1 0 2 4 4 1 1 3 1 3 1 1 1 4 2 3 4 1 3 1
 1 2 3 0 1 0 4 4 1 1 2 1 4 2 1 1 2 2 1 1 1 4 0 2 3 4 4 1 1 3 1 1 1 1 2 3 4
 2 2 4 4 1 2 4 1 1 3 3 4 4 1 1 0 4 2 4 1 2 1 1 1 1 2 1 1 4 0 1 4 1 2 3 1 2
 2 1 0 2 2 4 1 2 4 3 4 4 1 1 1 3 0 2 0 1 4 1 2 1 4 4 1 0 2 1 2 1 1 0 1 3 2
 1 4 2 1 4 2 4 1 4 1 1 1 1 0 1 1 4 3 1 2 4 2 4 2 1 1 1 2 1 1 1 0 3 1 0 1 1
 2 3 1 2 3 4 3 2 4 1 1 1 3 0 1 1 2 3 4 4 1 3 2 2 1 0 3 1 0 1 4 0 1 0 1 2 0
 2 4 4 1 1 1 1 3 1 1 1 1 4 1 1 1 4 2 3 1 3 1 1 1 4 2 1 1 1 1 3 1 0 1 0 2 1
 2 1 1 4 1 4 4 4 3]

In [16]:
y1 = classify(reg.predict(X_train_))
y2 = classify(reg2.predict(X_train_))
y3 = model(X_train_tensor).argmax(1).detach().cpu().numpy()

preds_train = pd.DataFrame({
    'LinReg' : y1,
    'SVR' : y2,
    'FNN' : y3,
})

preds_train

      LinReg  SVR  FNN
0          1    1    1
1          4    4    4
2          3    3    3
3          2    2    2
4          1    1    1
...      ...  ...  ...
1067       2    2    2
1068       2    2    2
1069       3    3    3
1070       1    1    1
1071       2    2    2

[1072 rows x 3 columns]

In [17]:
preds_test = pd.DataFrame({
    'LinReg' : yhat1,
    'SVR' : yhat2,
    'FNN' : yhat3,
})

preds_test

     LinReg  SVR  FNN
0         1    1    1
1         1    1    1
2         0    1    0
3         1    1    1
4         1    1    0
..      ...  ...  ...
263       1    1    1
264       4    4    4
265       4    4    4
266       4    4    3
267       3    3    3

[268 rows x 3 columns]

In [18]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(random_state=0,max_iter=200).fit(preds_train,y_c_train)
lr_stack = lr.predict(preds_test)
print(lr_stack)

[1 1 1 1 1 2 1 2 1 1 4 1 2 1 1 3 1 1 0 2 4 4 1 1 3 1 3 1 1 1 4 2 3 4 1 3 1
 1 2 3 0 1 1 4 4 1 1 2 1 4 2 1 1 2 2 1 1 1 4 0 2 3 4 4 1 1 3 1 1 1 1 2 3 4
 2 2 4 4 1 2 4 1 1 3 3 4 4 1 1 1 4 2 4 1 2 1 1 1 1 2 1 1 4 1 1 4 1 2 3 1 2
 2 1 0 2 2 4 1 2 4 3 4 4 1 1 1 3 0 2 0 1 4 1 2 1 4 4 1 0 2 1 2 1 1 1 1 3 2
 1 4 2 1 4 2 4 1 4 1 1 1 1 0 1 1 4 3 1 2 4 2 4 2 1 1 1 2 1 1 1 0 3 1 1 1 1
 2 3 1 2 3 4 3 2 4 1 1 1 3 0 1 1 2 3 4 4 1 3 2 2 1 0 3 1 0 1 4 0 1 0 1 2 0
 2 4 4 1 1 1 1 3 1 1 1 1 4 1 1 1 4 2 3 1 3 1 1 1 4 2 1 1 1 1 3 1 0 1 0 2 1
 2 1 1 4 1 4 4 4 3]

In [19]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(random_state=0).fit(preds_train,y_c_train)
dt_stack = dt.predict(preds_test)
print(dt_stack)

[1 1 1 1 1 2 1 2 1 1 4 1 2 1 1 3 1 1 0 2 4 4 1 1 3 1 3 1 1 1 4 2 3 4 1 3 1
 1 2 3 0 1 1 4 4 1 1 2 1 4 2 1 1 2 2 1 1 1 4 0 2 3 4 4 1 1 3 1 1 1 1 2 3 4
 2 2 4 4 1 2 4 1 1 3 3 4 4 1 1 1 4 2 4 1 2 1 1 1 1 2 1 1 4 1 1 4 1 2 3 1 2
 2 1 0 2 2 4 1 2 4 3 4 4 1 1 1 3 0 2 0 1 4 1 2 1 4 4 1 0 2 1 2 1 1 1 1 3 2
 1 4 2 1 4 2 4 1 4 1 1 1 1 0 1 1 4 3 1 2 4 2 4 2 1 1 1 2 1 1 1 0 3 1 1 1 1
 2 3 1 2 3 4 3 2 4 1 1 1 3 0 1 1 2 3 4 4 1 3 2 2 1 0 3 1 0 1 4 0 1 0 1 2 0
 1 4 4 1 1 1 1 3 1 1 1 1 4 1 1 1 4 2 3 1 3 1 1 1 4 2 1 1 1 1 3 1 0 1 0 2 1
 2 1 1 4 1 4 4 4 3]

In [20]:
from sklearn.metrics import accuracy_score,f1_score,cohen_kappa_score

strats = [av,maj,lr_stack,dt_stack]
labels = ['Average','Majority','LR Stacking','DT Stacking']
metrics = ['F1 Score','Kappa','Accuracy']
f1_scores = []
kappas = []
accuracies = []

for pred in strats:
    f1_scores.append(f1_score(y_c,pred,average='macro'))
    kappas.append(cohen_kappa_score(y_c,pred))
    accuracies.append(accuracy_score(y_c,pred))

d = {
    'F1 Score' : f1_scores,
    'Kappa' : kappas,
    'Accuracy' : accuracies
}
score_df = pd.DataFrame(data=d,index=labels)

score_df

             F1 Score     Kappa  Accuracy
Average      0.921566  0.912699  0.936567
Majority     0.921566  0.912699  0.936567
LR Stacking  0.900032  0.896108  0.925373
DT Stacking  0.896964  0.890767  0.921642

Of the 4 voting strategies, Averaging and Majority voting perform the best. Both of these have better F1 score, Cohen's Kappa Score and Accuracy as compared to any individual model.

In [21]:
def av_pipeline(input):
    yh1 = reg.predict(input)
    yh2 = reg.predict(input)
    yh3 = model(torch.Tensor(input)).argmax(1).detach().cpu().numpy()
    return ((yh1+yh2+yh3)/3).round()

print(av_pipeline(X_test_))

[  50.   43.   32.   46.   35.   92.   52.  126.   50.   33.  387.   45.
   87.   65.   45.  175.   57.   60.   28.  102.  281.  552.   56.   43.
  171.   40.  165.   49.   34.   48.  385.  137.  152. 1241.   41.  156.
   34.   41.  126.  192.   24.   65.   32.  235.  291.   66.   63.  105.
   53.  235.   82.   62.   36.   68.  109.   42.   41.   48.  354.   18.
   78.  176.  232.  300.   59.   35.  149.   69.   47.   36.   44.  127.
  181.  215.  128.  111.  202.  342.   36.  136.  217.   45.   51.  147.
  157.  341.  310.   38.   54.   33.  384.   79.  311.   38.   85.   66.
   50.   63.   40.   85.   54.   45.  313.   33.   58.  221.   44.  128.
  198.   37.  105.  132.   66.   32.   96.  112.  285.   39.  121.  245.
  172.  315.  860.   51.   62.   36.  161.   31.   91.   25.   51. 1535.
   53.   83.   43.  299.  248.   51.   28.  122.   46.  112.   57.   58.
   32.   52.  181.  129.   37.  996.  113.   45.  336.   77.  444.   38.
  233.   36.   41.   53.   44.   30.   42.   60.  441.  166.   39.  117.
  245.   94.  377.  106.   67.   39.   68.   81.   62.   58.   33.   27.
  161.   66.   33.   54.   40.  120.  199.   38.  109.  157.  408.  200.
   77.  432.   39.   44.   46.  145.   19.   40.   36.  102.  204.  545.
  252.   38.  151.  135.  109.   57.   18.  145.   59.   31.   55.  235.
   25.   53.   31.   53.   77.   24.   70. 1183.  384.   43.   33.   43.
   36.  144.   45.   41.   50.   36.  348.   50.   37.   45.  257.   88.
  178.   40.  199.   49.   62.   66.  263.   94.   49.   41.   53.   46.
  142.   34.   18.   38.   32.   95.   56.   89.   37.   40.  336.   45.
  313.  241.  207.  165.]